node_modules
PROMPT_AI_AGENT_BIOSKOP_DESIGN_PATTERN.md
diagrams
docs
diagrams
report.md
test_all_output.txt
test_behavioral_output.txt
test_output.txt
test_structural_output_2.txt
test_structural_output.txt
test_output_2.txt
tugas besar ccdp.pdf
tugas besar ccdp.docx
CODE_SNIPPETS_FOR_REPORT.md
Analisis Design Pattern Pada Domain Kasus Pemesanan Tiket Bioskop.docx
Tugas Besar.rar
Tugas Besar.rar
